
  <form class="form-signin" name="input" action="/sign_in" method="post">
    <h2 class="form-signin-heading" style="text-align: center">Please sign in, or <a href="/sign_up">create an account</a></h2>
    <input type="text" class="form-control" placeholder="Username" name="user" required autofocus>
    <input type="password" class="form-control" placeholder="Password" name="password" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

